html, body{
	font-family: 'Hammersmith One', sans-serif;
	text-align: center;
	background: linear-gradient(to bottom right, black, #0a2249) fixed;
	height: 100%;
	color: white;
  margin: 0;
  padding: 0;
}

h1{
	font-size: 45px;
}
/*Moon*/

.full-moon{
  width: 100px;
  height: 100px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  top: calc(35% - 35px);
  left: calc(50% - 35px);
  box-shadow: 0 0 0 0.6em #2c394b, 0 0 0 1.25em #1f2938, 0 0 0 1.7em #1c2735;
}

/*Clouds*/
.cloud{
		content: '';
    position: absolute;
		 top: calc(40% - 35px);
  		left: calc(40% - 35px);
		background: white;
		display: block;
		width: 50px;
		height: 40px;
		border-radius: 50%;
  		-webkit-animation: cloudOne 2.2s ease-in-out infinite alternate;
  		-moz-animation:cloudOne 2.2s ease-in-out infinite alternate;
  		-o-animation: cloudOne 2.2s ease-in-out infinite alternate;
        animation: cloudOne 2.2s ease-in-out infinite alternate;
		box-shadow: 20px -15px 0 rgba(250, 250, 250, 1),
								40px 10px 0 rgba(250, 250, 250, 1),
		            55px -15px 0 rgba(250, 250, 250, 1),
		            75px 0px 0 rgba(250, 250, 250, 1);
}

.cloud2{
		content: '';
    position: absolute;
		 top: calc(40% - 35px);
  		right: calc(45% - 35px);
		background: white;
		display: block;
		width: 50px;
		height: 40px;
		border-radius: 50%;
  		-webkit-animation: cloudTwo 2.5s ease-in-out infinite alternate;
  		-moz-animation:cloudTwo 2.5s ease-in-out infinite alternate;
  		-o-animation: cloudTwo 2.5s ease-in-out infinite alternate;
        animation: cloudTwo 2.5s ease-in-out infinite alternate;
		box-shadow: 20px -15px 0 rgba(250, 250, 250, 1),
								40px 10px 0 rgba(250, 250, 250, 1),
		            55px -15px 0 rgba(250, 250, 250, 1),
		            75px 0px 0 rgba(250, 250, 250, 1);
}
.cloud3{
		content: '';
    position: absolute;
		 top: calc(40%);
  		left: calc(30% - 35px);
		background: white;
		display: block;
		width: 50px;
		height: 40px;
		border-radius: 50%;
  		-webkit-animation: cloudOne 1.5s ease-in-out infinite alternate;
  		-moz-animation:cloudOne 1.5s ease-in-out infinite alternate;
  		-o-animation: cloudOne 1.5s ease-in-out infinite alternate;
        animation: cloudOne 1.5s ease-in-out infinite alternate;
		box-shadow: 20px -15px 0 rgba(250, 250, 250, 1),
								40px 10px 0 rgba(250, 250, 250, 1),
		            55px -15px 0 rgba(250, 250, 250, 1),
		            75px 0px 0 rgba(250, 250, 250, 1);
}
.cloud4{
		content: '';
    position: absolute;
		 top: calc(40%);
  		right: calc(35%);
		background: white;
		display: block;
		width: 50px;
		height: 40px;
		border-radius: 50%;
  		-webkit-animation: cloudTwo 2s ease-in-out infinite alternate;
  		-moz-animation:cloudTwo 2s ease-in-out infinite alternate;
  		-o-animation: cloudTwo 2s ease-in-out infinite alternate;
        animation: cloudTwo 2s ease-in-out infinite alternate;
		box-shadow: 20px -15px 0 rgba(250, 250, 250, 1),
								40px 10px 0 rgba(250, 250, 250, 1),
		            55px -15px 0 rgba(250, 250, 250, 1),
		            75px 0px 0 rgba(250, 250, 250, 1);
}

@keyframes cloudOne {
  from {  margin-left: 0; }
  to {  margin-left: 50px; }
}

@keyframes cloudTwo {
  from {  margin-right: 0; }
  to {  margin-right: 50px; }
}

/*Stars*/

.stars {
  position: absolute;
  top: 30%;
  right: 30%;
  bottom: 0;
  left: 30%;
  color: #404c5d;
  text-align: right;
  animation: shine 2s linear infinite;
}

.stars:before,
.stars:after {
  position: absolute;
  content: "*";
  color: #ffffff;
  z-index: 2;
}

.stars:before {
  top: 30%;
  right: -4%;
  animation: shine 1s linear infinite alternate-reverse;
}

.stars:after {
  top: 10%;
  right: 10%;
  animation: shine 1.5s linear infinite;
}

.stars2 {
  top: 5%;
  right: 40%;
  text-align: left;
  transform: rotate(-90deg);
}

.stars2:after {
  top: 5%;
  right: 20%;
}

.stars2:before {
  top: -10%;
  right: 40%;
}

@keyframes shine {
  0%,
  100% {
    color: #404c5d;
  }
  50% {
    color: #8e9399;
  }
}

/*comet*/

.shooting-star {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  width: .4em;
  height: .4em;
  animation: cometFlight 3s ease infinite;
}


@keyframes cometFlight {
  0% {
    top: 0;
    right: -50%;
    opacity: 1;
  }
  100% {
    top: 100%;
    right: 60%;
    opacity: 0;
  }
}

/*Mountains & Lake*/

.mountains {
  top: 40%;
  left: 40%;
  border-left: 8em solid transparent;
  border-right: 8em solid transparent;
  border-bottom: 8em solid #2c80e7;
  width: 0;
  height: 0;
  overflow: visible;
  position: relative;
  z-index: 1;
}

.mountains:before,
.mountains:after {
  position: absolute;
  top: 0.65em;
  content: "";
}

.mountains:before {
  top: 5em;
  left: 2.5em;
  border-left: 3em solid transparent;
  border-right: 3em solid transparent;
  border-bottom: 3.5em solid #f1f1f1;
  z-index: 1;
}

.mountains:after {
  top: 2.2em;
  right: -1em;
  border-left: 5em solid transparent;
  border-right: 5em solid transparent;
  border-bottom: 6em solid #2e63a5;
}

.lake {
  position: absolute;
  right: 30%;  
  bottom: 20%;
  left: 30%;
  background-color: #42b9f4;
  border-radius: 50%;
  border: 6px solid transparent;
  animation: lakeMovement 3s linear infinite;
}

@keyframes cometFlight {
  0% {
    top: 0;
    right: 10%;
    opacity: 1;
  }
  100% {
    top: 100%;
    right: 60%;
    opacity: 0;
  }
}

@keyframes shine {
  0%,
  100% {
    color: #404c5d;
  }
  50% {
    color: #8e9399;
  }
}

@keyframes lakeMovement {
  0%,
  100% {
    box-shadow: -45px 5px 0 0 #42b9f4, 45px 5px 0 0 #27b797, -25px 10px 0 0 #238676, 25px 10px 0 0 #238676, -5px 15px 0 0 #1f5a58, 5px 15px 0 0 #1f5a58, 0 20px 0 0 #1d4b4c, -20px 20px 0 0 #1b383f, 50px 20px 0 0 #1b383f, 0 25px 0 0 #1b383f;
  }
  50% {
    box-shadow: -55px 5px 0 0 #42b9f4, 55px 5px 0 0 #27b797, -35px 10px 0 0 #238676, 35px 10px 0 0 #238676, -10px 15px 0 0 #1f5a58, 10px 15px 0 0 #1f5a58, 5px 20px 0 0 #1d4b4c, -15px 20px 0 0 #1b383f, 60px 20px 0 0 #1b383f, -10px 25px 0 0 #1b383f;
  }
}